EDI/DCSGlobal.EDI/Service References/srvFileTransferService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SaveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HospCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RootDirectory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientDirectory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="overWrite" type="xs:boolean" />
        <xs:element minOccurs="0" name="XMLParams" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HospCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RootDirectory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientDirectory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XMLParams" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>