EDIViewer/Service References/LDAP/LDAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dcsglobal.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dcsglobal.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dcsglobal.com/">
      <s:element name="AuthenticateAD_Full">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndPoint" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateAD_FullResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateAD_FullResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateAD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateADResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateADResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateAD_FullSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateAD_Full" />
  </wsdl:message>
  <wsdl:message name="AuthenticateAD_FullSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateAD_FullResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateADSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateAD" />
  </wsdl:message>
  <wsdl:message name="AuthenticateADSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateADResponse" />
  </wsdl:message>
  <wsdl:portType name="LDAPSoap">
    <wsdl:operation name="AuthenticateAD_Full">
      <wsdl:input message="tns:AuthenticateAD_FullSoapIn" />
      <wsdl:output message="tns:AuthenticateAD_FullSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateAD">
      <wsdl:input message="tns:AuthenticateADSoapIn" />
      <wsdl:output message="tns:AuthenticateADSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LDAPSoap" type="tns:LDAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateAD_Full">
      <soap:operation soapAction="http://dcsglobal.com/AuthenticateAD_Full" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateAD">
      <soap:operation soapAction="http://dcsglobal.com/AuthenticateAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LDAPSoap12" type="tns:LDAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateAD_Full">
      <soap12:operation soapAction="http://dcsglobal.com/AuthenticateAD_Full" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateAD">
      <soap12:operation soapAction="http://dcsglobal.com/AuthenticateAD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LDAP">
    <wsdl:port name="LDAPSoap" binding="tns:LDAPSoap">
      <soap:address location="http://localhost:55834/LDAP.asmx" />
    </wsdl:port>
    <wsdl:port name="LDAPSoap12" binding="tns:LDAPSoap12">
      <soap12:address location="http://localhost:55834/LDAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>