DCSGlobal.VoiceRecorder.Audio.root/DCSGlobal.VoiceRecorder.Audio/DCSGlobal.Medical.VoiceRecoder/Service References/srRegister/RegisterPager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wsdl.dcsglobal.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wsdl.dcsglobal.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wsdl.dcsglobal.com/">
      <s:element name="TestConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivationStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PagerKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SD" type="tns:ServiceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Auth" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivationStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivationStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PagerHardwareID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HOS_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Passwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SD" type="tns:ServiceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterPagerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPagerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PagerHardwareID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SD" type="tns:ServiceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPagerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPagerIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivatePager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PagerHardwareID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SD" type="tns:ServiceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivatePagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivatePagerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ActivationStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ActivationStatus" />
  </wsdl:message>
  <wsdl:message name="ActivationStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ActivationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterPagerSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterPager" />
  </wsdl:message>
  <wsdl:message name="RegisterPagerSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetPagerIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetPagerID" />
  </wsdl:message>
  <wsdl:message name="GetPagerIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetPagerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ActivatePagerSoapIn">
    <wsdl:part name="parameters" element="tns:ActivatePager" />
  </wsdl:message>
  <wsdl:message name="ActivatePagerSoapOut">
    <wsdl:part name="parameters" element="tns:ActivatePagerResponse" />
  </wsdl:message>
  <wsdl:portType name="RegisterPager1Soap">
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivationStatus">
      <wsdl:input message="tns:ActivationStatusSoapIn" />
      <wsdl:output message="tns:ActivationStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPager">
      <wsdl:input message="tns:RegisterPagerSoapIn" />
      <wsdl:output message="tns:RegisterPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPagerID">
      <wsdl:input message="tns:GetPagerIDSoapIn" />
      <wsdl:output message="tns:GetPagerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivatePager">
      <wsdl:input message="tns:ActivatePagerSoapIn" />
      <wsdl:output message="tns:ActivatePagerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterPager1Soap" type="tns:RegisterPager1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://wsdl.dcsglobal.com/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivationStatus">
      <soap:operation soapAction="http://wsdl.dcsglobal.com/ActivationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPager">
      <soap:operation soapAction="http://wsdl.dcsglobal.com/RegisterPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagerID">
      <soap:operation soapAction="http://wsdl.dcsglobal.com/GetPagerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivatePager">
      <soap:operation soapAction="http://wsdl.dcsglobal.com/ActivatePager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegisterPager1Soap12" type="tns:RegisterPager1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://wsdl.dcsglobal.com/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivationStatus">
      <soap12:operation soapAction="http://wsdl.dcsglobal.com/ActivationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPager">
      <soap12:operation soapAction="http://wsdl.dcsglobal.com/RegisterPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagerID">
      <soap12:operation soapAction="http://wsdl.dcsglobal.com/GetPagerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivatePager">
      <soap12:operation soapAction="http://wsdl.dcsglobal.com/ActivatePager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterPager1">
    <wsdl:port name="RegisterPager1Soap" binding="tns:RegisterPager1Soap">
      <soap:address location="http://10.1.1.112:8506/RegisterPager.asmx" />
    </wsdl:port>
    <wsdl:port name="RegisterPager1Soap12" binding="tns:RegisterPager1Soap12">
      <soap12:address location="http://10.1.1.112:8506/RegisterPager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>