DCSGlobal.VoiceRecorder.Audio.root/DCSGlobal.VoiceRecorder.Audio/DCSGlobal.Recorder/Service References/srvVoiceRecorder/VoiceRecorder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://com.dcsglobal.voicerecorder" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.dcsglobal.voicerecorder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://com.dcsglobal.voicerecorder">
      <s:element name="AddTrack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_FILE_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_SUBJECT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_NOTE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_CONTACT_NUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_CONTACT_PERSON_FIRST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_CONTACT_PERSON_LAST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_CONTACT_PERSON_EMAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_START_TIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_END_TIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT_NUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MRN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTrackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTrackResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackSent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TRACK_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TRACK_SENT" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackSentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TrackSentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTrackDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TRACK_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TRACK_DETAIL_NOTE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="START_TIME" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="END_TIME" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT_NUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MRN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTrackDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTrackDetailsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTrackSoapIn">
    <wsdl:part name="parameters" element="tns:AddTrack" />
  </wsdl:message>
  <wsdl:message name="AddTrackSoapOut">
    <wsdl:part name="parameters" element="tns:AddTrackResponse" />
  </wsdl:message>
  <wsdl:message name="TrackSentSoapIn">
    <wsdl:part name="parameters" element="tns:TrackSent" />
  </wsdl:message>
  <wsdl:message name="TrackSentSoapOut">
    <wsdl:part name="parameters" element="tns:TrackSentResponse" />
  </wsdl:message>
  <wsdl:message name="AddTrackDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddTrackDetails" />
  </wsdl:message>
  <wsdl:message name="AddTrackDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddTrackDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="VoiceRecorderSoap">
    <wsdl:operation name="AddTrack">
      <wsdl:input message="tns:AddTrackSoapIn" />
      <wsdl:output message="tns:AddTrackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackSent">
      <wsdl:input message="tns:TrackSentSoapIn" />
      <wsdl:output message="tns:TrackSentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTrackDetails">
      <wsdl:input message="tns:AddTrackDetailsSoapIn" />
      <wsdl:output message="tns:AddTrackDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VoiceRecorderSoap" type="tns:VoiceRecorderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTrack">
      <soap:operation soapAction="http://com.dcsglobal.voicerecorder/AddTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackSent">
      <soap:operation soapAction="http://com.dcsglobal.voicerecorder/TrackSent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrackDetails">
      <soap:operation soapAction="http://com.dcsglobal.voicerecorder/AddTrackDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VoiceRecorderSoap12" type="tns:VoiceRecorderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTrack">
      <soap12:operation soapAction="http://com.dcsglobal.voicerecorder/AddTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackSent">
      <soap12:operation soapAction="http://com.dcsglobal.voicerecorder/TrackSent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrackDetails">
      <soap12:operation soapAction="http://com.dcsglobal.voicerecorder/AddTrackDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VoiceRecorder">
    <wsdl:port name="VoiceRecorderSoap" binding="tns:VoiceRecorderSoap">
      <soap:address location="http://localhost:21586/VoiceRecorder.asmx" />
    </wsdl:port>
    <wsdl:port name="VoiceRecorderSoap12" binding="tns:VoiceRecorderSoap12">
      <soap12:address location="http://localhost:21586/VoiceRecorder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>